* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: white;

}

body {
    background-color: darkslategrey;
}

nav {
    display: flex;
    /* width: 100%; */
    height: 12vh;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5vh;
    /* margin-left: 38%; */
    /* margin-right: 38%; */
    padding: 0;
    /* padding-bottom: 5vh; */
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 3px solid darkcyan;
}

.board-grid {
    /* background-color: aliceblue; */
    margin-top: 10vh;
    display: grid;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
    "l1 l2 l3 l4 l5"
    "l6 l7 l8 l9 l10"
    "l11 l12 l13 l14 l15"
    "l16 l17 l18 l19 l20"
    "l21 l22 l23 l24 l25"
    "l26 l27 l28 l29 l30";
}

.letter {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 255, 255, 0);
    border: none;
    width: 100%;
    height: 100%;
    font-size: 32px;
    text-transform: uppercase;
    /* border: solid grey 4px; */
}

.letter-wrapper {
    background-color: rgb(42, 48, 48);
    width: 60px;
    height: 60px;
    border: solid grey 4px;
}

.invalid {
    animation: flash 1s;
}

@keyframes flash {
    5% {
        border-color: crimson;
    }
    100% {
        border-color: #ccc;
    }
}

.loading-screen {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(127, 255, 212, 0);
    left: calc(50% - 50px);
    /* transform: translateX(-50px); */
    top: 10vh;
    animation: spin 1s infinite linear;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 60px;
}

.hidden {
    visibility: hidden;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.winner {
    animation: rainbow 4s infinite linear;
  }

@keyframes rainbow {
    100%,
    0% {
      color: rgb(255, 0, 0);
    }
    8% {
      color: rgb(255, 127, 0);
    }
    16% {
      color: rgb(255, 255, 0);
    }
    25% {
      color: rgb(127, 255, 0);
    }
    33% {
      color: rgb(0, 255, 0);
    }
    41% {
      color: rgb(0, 255, 127);
    }
    50% {
      color: rgb(0, 255, 255);
    }
    58% {
      color: rgb(0, 127, 255);
    }
    66% {
      color: rgb(0, 0, 255);
    }
    75% {
      color: rgb(127, 0, 255);
    }
    83% {
      color: rgb(255, 0, 255);
    }
    91% {
      color: rgb(255, 0, 127);
    }
  }

.l1 {
    grid-area: l1;
}

.l2 {
    grid-area: l2;
}

.l3 {
    grid-area: l3;
}

.l4 {
    grid-area: l4;
}

.l5 {
    grid-area: l5;
}

.l6 {
    grid-area: l6;
}

.l7 {
    grid-area: l7;
}

.l8 {
    grid-area: l8;
}

.l9 {
    grid-area: l9;
}

.l10 {
    grid-area: l10;
}

.l11 {
    grid-area: l11;
}

.l12 {
    grid-area: l12;
}

.l13 {
    grid-area: l13;
}

.l14 {
    grid-area: l14;
}

.l15 {
    grid-area: l15;
}

.l16 {
    grid-area: l16;
}

.l17 {
    grid-area: l17;
}

.l18 {
    grid-area: l18;
}

.l19 {
    grid-area: l19;
}

.l20 {
    grid-area: l20;
}

.l21 {
    grid-area: l21;
}

.l22 {
    grid-area: l22;
}

.l23 {
    grid-area: l23;
}

.l24 {
    grid-area: l24;
}

.l25 {
    grid-area: l25;
}

.l26 {
    grid-area: l26;
}

.l27 {
    grid-area: l27;
}

.l28 {
    grid-area: l28;
}

.l29 {
    grid-area: l29;
}

.l30 {
    grid-area: l30;
}