<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Remix</title>

    <script src="https://unpkg.com/htmx.org@2.0.0"></script>

    <script src="/static/js/cache.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css" />

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    
</head>
<body>
    <main class="portfolio-canvas-container">
        <div class="portfolio-canvas square glass">
            <div class="nav-bar-container square-nav glass-nav">
                <nav class="nav-bar">
                    <ul>
                        <li><button name="home" hx-get="/templates/home" hx-target="#content" hx-swap="innerHTML">Home</button></li>
                        <li><button name="about" hx-get="/templates/about" hx-target="#content" hx-swap="innerHTML">About Me</button></li>
                        <li><button name="projects" hx-get="/templates/projects" hx-target="#content" hx-swap="innerHTML">Projects</button></li>
                        <li><button>Credits</button></li>
                    </ul>
                </nav>
            </div>
            <div class="content" id="content">
                <div class="home-wrapper">
                    <div class="home">
                        <h1 class="content-h1">Derek's Portfolio</h1>
                        <p>Be Nice >:(</p>
                    </div>
                </div>
            </div>
            
        </div>
    </main>
    <div id="mobile-anchor" class="mobile-anchor">
        <div id="mobile-nav" class="mobile-nav" name="mobile" hx-get="/templates/mobile-nav-menu" hx-target="#mobile-anchor" hx-swap="innerHTML">
            <div id="mobile-toggle" class="mobile-toggle">=</div>
        </div>
    </div>
    <div style="position: absolute; top: 90vh; left: 85vw;">
         <script src="https://tryhackme.com/badge/3506367"></script>
    </div>
     
</body>
</html>
