<div id="mobile-nav-menu" class="mobile-nav-menu">
    <div id="mobile-close" class="mobile-close" name="mobile-close" hx-get="/templates/mobile-nav-toggle" hx-target="#mobile-anchor" hx-swap="innerHTML">X</div>
    <ul>
        <li><button name="home" hx-get="/templates/home" hx-target="#content" hx-swap="innerHTML">Home</button></li>
        <li><button name="about" hx-get="/templates/about" hx-target="#content" hx-swap="innerHTML">About Me</button></li>
        <li><button name="projects" hx-get="/templates/projects" hx-target="#content" hx-swap="innerHTML">Projects</button></li>
        <li><button>Credits</button></li>
    </ul>
</div>