* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /*font-family: "Poppins", sans-serif;*/
  font-family: "Ubuntu", sans-serif;
  font-family: "Dekko", cursive;
}

body {
  background-color: rgb(255, 255, 255);
}

.mobile_nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  background: linear-gradient(to right bottom, lightgreen, 60%, lightgreen);
  height: 10vh;
  width: 100%;
  z-index: 80;
}

.logo {
  position: relative;
  height: 12vh;
  z-index: 99;
  margin-left: 1rem;
}

.mobile_subheader {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
}

.mobile_menu_parent {
  top: 7.5vh;
  background: tomato;
  overflow-y: hidden;
}

.mobile_menu_btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  right: 0.5rem;
  top: 8vh;
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  z-index: 90;
}

.mobile_menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 2.5rem;
  left: 0rem;
  visibility: hidden;
  transform: translateY(-100%);
  padding: 0.1rem;
  background: lightgray;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  border-radius: 0.3rem;
  z-index: 20;
}

.click_off_menu_box {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -99;
}

ul {
  text-decoration: none;
  list-style: none;
}

.mobile_menu_list > li {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin-bottom: 1px;
  height: 5vh;
  background: whitesmoke;
  border-radius: 0.3rem;
}

.header_images {
  display: flex;
  width: 100%;
  height: 20vh;
  background: black;
}

.cq_photos {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  clip-path: polygon(0 0, 100% 0%, 100% 95%, 0% 100%);
}

.dividing_line_1 {
  background: black;
  box-shadow: 0px 12px black;
  z-index: 20;
  margin-bottom: 12px;
}

.bubble {
  /* cap the width */
  max-width: 500px;
  /* give ample whitespace around and inside of the container */
  margin: 1rem 0;
  padding: 0.2rem 1.25rem;
  text-align: center;
  font-family: "Dekko", cursive;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #fff;
  background-size: 12px, 100%;
  /* solid border */
  border: 0.4rem solid #000;
  /* position relative for the :before pseudo element */
  position: relative;
}

.product_list_btn {
  display: flex;
  width: 40vw;
  height: 5vh;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  box-shadow: -8px 8px black;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.8" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23d68810"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #ffcd28;
  background-size: 10px, 100%;
  font-weight: 700;
}

.product_list_section {
  clip-path: polygon(0 8%, 100% 0%, 100% 100%, 0% 100%);
  min-height: 10vh;
  width: 100%;
  background: #eee;
  /* center the content in the page (mainly horizontally) */
  display: grid;
  place-items: center;
  /* include the same texture used for the .bubble containers, but with notably less opacity */
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(0)" opacity="0.2" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #c52754;
  background-size: 10px, 100%;

  z-index: -99;
}

.event_calendar_section {
  display: flex;

  height: 20vh;
  width: 100%;
  background: lightgray;
  background-image: url("./assets/comic_bg2.jpg");
  background-position: center;
}

.calendar_section_top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: black;
  clip-path: polygon(4% 0, 96% 0, 88% 100%, 10% 100%);
}

.top_outer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  clip-path: polygon(6% 0, 92% 0, 86% 100%, 14% 100%);
}

.regular_events_section {
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 12px solid black;
}

.bold_font {
  font-size: 16px;
  font-weight: 700;
}

.reg_events_list {
  margin-top: 1rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  width: 100%;
  height: 30vh;
  bottom: 0;
  background: rgb(35, 66, 66);
}

.hours_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*  Hover Effects   */
.mobile_menu_list > li:hover {
  background: white;
}

.mobile_menu_btn:hover {
  background: slategray;
  color: whitesmoke;
}

.product_list_btn:hover {
  background-color: #f3974b;
}

.location_section > p {
  margin-top: 4px;
  margin-bottom: 0px;
}

/*  Animations  */
@keyframes mobileMenuDrop {
  from {
    visibility: hidden;
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
    visibility: visible;
  }
}

@keyframes mobileMenuRise {
  from {
    visibility: visible;
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
    visibility: hidden;
  }
}
