:root {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

.main-content-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
}

.main-content {
    width: 40vw;
    background-color: dimgray;
    min-width: 1024px;
}

.main-content > section {
    min-height: 100vh;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darkslategray;
    width: calc(1024px / 4);
    height: 100vh;
    left: calc((1024px / 2) + (100vw / 2));
    top: 0;
}

.header-wrapper {
    display: flex;
    align-items: center;
}

.section-header {
    padding-top: 2rem;
}

section > h2 {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

section > h2::after{
    content: "";
    display: block;
    position: relative;
    background-color: white;
    width: 200px;
    height: 1px;
    margin-left: 1rem;
}

/* ABOUT */

.about-content-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 3fr 1fr;
    gap: 10vh 0;
}

.about-text {
    margin-right: 2rem;
}

.square-image {
    aspect-ratio: 1 / 1;
    background-color: blue;
    background-image: url("/static/assets/goodphoto_cropped3.JPG");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.skill-list {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    list-style: none;
}

.skill-list > li::before {
    content: "🎈";
}

.game-jams-wrapper {
    grid-column: 1 / 3;

}

.game-jams-banner {
    background-color: salmon;
    clip-path: polygon(100% 0%, 97% 50%, 100% 100%, 0 100%, 3% 50%, 0 0);
    text-align: center;
}
.game-jams-banner > h2 {
    margin: 0;
}

.game-jam-bg {
	background-color: white;
    color: black;
	width: 94%;
	position: relative;
	left: 3%;
}

.game-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.game-card {
    background-color: whitesmoke ;
    aspect-ratio: 1 / 1;
    border-width: 0.5rem;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 1rem;
    box-shadow: 3px 3px 9px black;
}

.game-image {
    background-color: blue;
    aspect-ratio: 3 / 2;
    border-radius: 0.5rem 0.5rem 0 0;
}

.ld57 {
    background-image: url("/static/assets/ludum-dare-57.png");
    background-position: cover;
    background-size: contain;
    background-repeat: no-repeat;
}

.wild-jam {
    background-image: url("/static/assets/wild-jam.png");
    background-position: cover;
    background-size: contain;
    background-repeat: no-repeat;
}

/* PROJECTS */

.projects-content-wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
}

.project-1 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-bottom: 4rem;
}

.project-2 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin-bottom: 4rem;
}

.project-text-right {
    margin-left: 2rem;
    text-align: center;
    display: grid;
    grid-template-areas: 
    "t"
    "m"
    "l";
    grid-template-rows: 1fr auto 1fr;
}
.project-text-right > h2 {
    text-align: end;
}

.project-text-left {
    margin-right: 2rem;
    text-align: center;
    display: grid;
    grid-template-areas: 
    "t"
    "m"
    "l";
    grid-template-rows: 1fr auto 1fr;
}
.project-text-left > h2 {
    text-align: start;
}

.project-title {
    margin: 0;
    grid-area: t;
    align-self: end;
    margin-bottom: 1rem;
}

.inner-project-text {
    grid-area: m;
    background-color: navy;
}

.project-image {
    aspect-ratio: 3 / 2;
    background-color: blue;    
}

.monkey-script {
    background-image: url("/static/assets/monkey-script-home.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.thesis {
    background-image: url("/static/assets/thesis-pic-2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.astar {
    background-image: url("/static/assets/astar-1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.word-masters {
    background-image: url("/static/assets/word-masters-2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.lower-project-text {
    grid-area: l;
}