<div class="about-wrapper">
    <div class="about">
        <h1 class="content-h1 fade">About Me</h1>
        <div class="about-content-wrapper">
            <p class="slide-right"><span style="font-weight: bold;">Hello! </span>I'm Derek. I like videogames, reading sci-fi books, and makin' delicious coffee! I started programming when I was about 12 years old at a video game production summer camp, where I fell in love with the art of making games and the sense of freedom that comes from programming my own software. Since then, I have achieved my M.S. in Computer Science and accrued 3 years of industry experience developing software that businesses rely on for daily operations. I take great pride in producing an excellent user experience and shipping the best code I can write.</p>
            <div class="career-interests slide-left">
                <h3 class="content-h1">Career Interests</h3>
                <ul>
                    <li style="--bindex: 0">Games</li>
                    <li style="--bindex: 1">Backend</li>
                    <li style="--bindex: 2">Networking</li>
                </ul>
            </div> 
        </div>
              
    </div>
</div>
