<div class="about-wrapper">
    <div class="about">
        <h1 class="content-h1 fade">About Me</h1>
        <div class="about-content-wrapper">
            <p class="slide-right"><span style="font-weight: bold;">Hello! </span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, facilis rerum dolores similique temporibus, explicabo debitis, reiciendis natus et ab quidem corporis iure itaque sed neque laborum ipsum maiores accusamus.</p>
            <div class="career-interests slide-left">
                <h3 class="content-h1">Career Interests</h3>
                <ul>
                    <li style="--bindex: 0">Games</li>
                    <li style="--bindex: 1">Backend</li>
                    <li style="--bindex: 2">Networking</li>
                </ul>
            </div> 
        </div>
              
    </div>
</div>