<div class="projects-wrapper">
    <div class="projects">
        <h1 class="content-h1 fade">My Projects</h1>
        <div class="project-grid-wrapper square">
            <div class="project-grid">
                <a href="https://github.com/dhdorr" target="_blank">
                    <div class="project-card square">
                        <div class="card-banner">
                            <div class="banner-title">
                                <h3>My Github</h3>
                            </div>
                            <div class="banner-info">
                                <p>Come see what I am currently working on!</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="https://dhdorr.itch.io/" target="_blank">
                    <div class="project-card square">
                        <div class="card-banner">
                            <div class="banner-title">
                                <h3>Published Games</h3>
                            </div>
                            <div class="banner-info">
                                <p>Come, sit a while, and play my published game jam games!</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/projects/word-masters-project/index.html" target="_blank">
                    <div class="project-card square">
                        <div class="card-banner">
                            <div class="banner-title">
                                <h3>Word Masters</h3>
                            </div>
                            <div class="banner-info">
                                <p>Can you guess the word of the day?</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/projects/a-star/astar.html" target="_blank">
                    <div class="project-card square">
                        <div class="card-banner">
                            <div class="banner-title">
                                <h3>A* Test</h3>
                            </div>
                            <div class="banner-info">
                                <p>Try out an interactive pathfinding algorithm visualizer!</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="https://github.com/dhdorr/Go_Pokedex" target="_blank">
                    <div class="project-card square">
                        <div class="card-banner">
                            <div class="banner-title">
                                <h3>GO Pokedex CLI</h3>
                            </div>
                            <div class="banner-info">
                                <p>Check out an interactive Pokedex CLI REPL project!</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="https://dhdorr.itch.io/crazy-dababy" target="_blank">
                    <div class="project-card square">
                        <div class="card-banner">
                            <div class="banner-title">
                                <h3>Crazy Dababy Game</h3>
                            </div>
                            <div class="banner-info">
                                <p>YEAH YEAH!</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="https://dhdorr.itch.io/jet-pack-jumper" target="_blank">
                    <div class="project-card square">
                        <div class="card-banner">
                            <div class="banner-title">
                                <h3>Jet Pack Jumper</h3>
                            </div>
                            <div class="banner-info">
                                <p>I miss Flappy Bird, so I made my own!</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/projects/portal_demo_2/index.html" target="_blank">
                    <div class="project-card square">
                        <div class="card-banner">
                            <div class="banner-title">
                                <h3>Pac-Portal Demo</h3>
                            </div>
                            <div class="banner-info">
                                <p>Chomp pellets and portal your way to victory in this arcade remix!</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>