<div class="projects-wrapper">
    <div class="projects">
        <h1 class="content-h1 fade">My Projects</h1>
        <div class="project-grid-wrapper square">
            <div class="project-grid">
                <div class="project-card square">
                    <div class="card-banner">
                        <div class="banner-title">
                            <h3>Testing</h3>
                        </div>
                        <div class="banner-info">
                            <p>Hello World</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>